/.vs/
/.vscode/
/.idea/
bin/
obj/
nupkgs/
coverage-report/
**/coverage.*.cobertura.xml
**/__snapshots__/__mismatch__/
/CycloneDXLibrary.sln.DotSettings.user
docfx/
_exported_templates/
**/BenchmarkDotNet.Artifacts/
.DS_Store