name: Publish documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.200'

      - name: Download DocFX
        run: |
          wget -O docfx.zip https://github.com/dotnet/docfx/releases/download/v2.58.4/docfx.zip
          unzip docfx.zip -d docfx/
          chmod +x docfx/docfx.exe
      - name: Build documentation
        run: |
          docfx/docfx.exe docs/docfx.json
      - name: Deploy documentation
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/_site
